// update message
var result_msj = "#{search_result_messages(params[:search_name], params[:search_surface], params[:search_category])}"
result_msj += " #{result_found(@teams_profiles)}"
$('.message').html(result_msj);

// update result
$('#update-teams').html("#{ j render partial: 'search_data' }");

// reset search
$("#btn_search_teams").val("");
$("#search_surface").val("");
$("#search_category").val("");
