.container
  .span11.offset.well
    %legend
      = t ".title", sport_center_name: @sport_center.name

    %table.table.table-stripe
      - @leagues.each do |league|
        %tr
          %td
            = render 'league', league: league
