#example_3.example_content
  #top_navigation= render_navigation(:level => 1)
  .clear_float
  .content_wrapper
    #sub_navigation= render_navigation(:level => 2)
    .content
      .breadcrumbs
        = render_navigation(:renderer => :breadcrumbs, :join_with => ' &raquo; ', :prefix => 'breadcrumbs: ')
    .clear_float