%h1 Perfil
%h4=link_to "Edit?", edit_user_profile_path(current_user)
%h3 Name
%pre.name 
  =@profile.name
%h3 Surname
%pre.name 
  =@profile.surname
%h3 Nickname
%pre.name 
  =@profile.nickname
%h3 Playing position
%pre.name 
  =@profile.playing_position
%h3 Locallity
%pre.name 
  =@profile.locality
%h3 Foot
%pre.name 
  =@profile.foot
%h3 Features
%pre.name 
  =@profile.features