%h1 Perfil
- if user_signed_in?
  %h4=link_to "Edit?", edit_user_profile_path(@user)
%h3 Picture Perfil
= form_for @profile, :html => {:multipart => true} do |f|
  %pre.avatar
    = image_tag(@profile.avatar_url) if @profile.avatar?
    - if user_signed_in?
      = link_to "edit", edit_user_profile_path(@user)
%h3 Name
%pre.name 
  =@profile.name
%h3 Surname
%pre.name 
  =@profile.surname
%h3 Nickname
%pre.name 
  =@profile.nickname
%h3 Playing position
%pre.name 
  =@profile.playing_position
%h3 Born
%pre.name 
  =@profile.born
%h3 Locallity
%pre.name 
  =@profile.locality
%h3 Foot
%pre.name 
  =@profile.foot
%h3 Features
%pre.name 
  =@profile.features