.container
  .span11.offset.well
    %legend
      = t ".title"

    %table.table.table-stripe.leagues
      - @leagues.each do |league|
        %tr
          %td
            = render 'league', league: league
