.hero-unit
  %h Movete que Entras
  %p
    Movete que entras es la nueva forma de organizar tus partidos,
    tu equipo, campeonatos, desafios y mucho más.
    Es jugar al fútbol 2.0. En esta red social de fútbol para jugadores
    amateur podrás armar tu equipo, crear tu perfil de jugador, desafiar
    a otros equipos y calificar jugadores después de un partido.
  %p
    %a.btn.btn-primary.btn-large{ :href => new_user_session_path } Ingresar
.row-fluid
  .span4
    %h2 Ligas
    %t
      La más completa grilla de ligas de tu ciudad. 
      En MqE podrás encontrar la liga que estabas 
      buscando para inscribir a tu equipo.
    %p
      %a.btn.btn-success{ :href => "#" } Ver Ligas 
  .span4
    %h2 Equipos
    %t
      Crea tu equipo y comenzá a desafiar a otros equipos para 
      posicionarte 1ro en el ranking de equipos de MqE.
    %p
      %a.btn.btn-success{ :href => teams_path } Ver Equipos  
  .span4
    %h2 Estadios
    %t
      En MqE encontrarás la cancha justa para organizar un partido
      con tus amigos o para desafiar otros equipos.
    %p
      %a.btn.btn-success{ :href => "#" } Ver Estadios       
        
  

                      
