%h1
  Photos of
  =@team.name

%ul.thumbnails
  - for photo in @team.photos
    %li.span4
      %div.thumbnail
        %p.text-center
          %a{ :href => photo.image, :class => "fancybox-button", "rel" => "fancybox-button", :title => photo.name}
            = image_tag photo.image_url(:thumb) if photo.image?
            - if owner_permission?
              %div.thumbnail.text-center
                = link_to "edit", "#"
                |
                = link_to "remove", [@team, photo], :confirm => 'Are you sure?', :method => :delete
- if owner_permission?
  %p
    = link_to "Add a photo", new_team_photo_path(@team)

