// Place all the styles related to the UsersProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.user_profile {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: rigth-bottom;
}

.user-profile {

}

.user-profile-positions {
  margin-left: 20px;
  input[type=checkbox] {
   float: left;
   margin-right: 20px;
  }
}
